@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,600;0,700;0,800;0,900;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One:ital,wght@0,400;0,600;0,700;0,800;0,900;1,400;1,600;1,700;1,800;1,900&display=swap');

#wrapper {
    height: auto;
    min-height: 100%;
    overflow: visible;
    position: relative;
    z-index: 1;
}

.body_root {
    background-color: #000000;
}

.body_root * {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    color: #FFFFFF;
}
.body_root a{
    text-decoration:none ;
}

header {
    min-width: 1256px;
    z-index: 99;
    font-size: 11px;
    line-height: 15px;
    color: #FFFFFF;
    min-height: 37px;
    background: #131313;
}
div.header {
    display: flex;
    padding: 10px 0;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    min-width: 335px;
    max-width: 1256px;
    margin: 0 auto;
    box-sizing: border-box;
}

.logo {

}
.logo__link {
    color: #E3B873;
    text-transform: uppercase;
}
.text {
    text-transform: uppercase;
}

nav {
    margin-left: 50px;
}
.nav__menu {
    padding-left: 0;
}
.menu {
    display: flex;
    list-style: none;
}
.menu__item {
    display: inline-flex;
    padding: 12px 23px;
}
.menu__item a{
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    color: #FFFFFF;
}
.menu__item_active a{
    color: #E3B873;
}
.phone {
    margin-left: 40px;
    color: #E3B873;
}
.phone__input {
    border: 1px solid #E3B873;
    border-radius: 2px;
    background: transparent;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: right;
    color: #E3B873;

}
.btn {
    cursor: pointer;
}
.btn-yellow {
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #E3B873;
    box-shadow: 0 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    height: 37px;
    padding: 0 33px;
    margin-left: 40px;
}

.btn-yellow:hover,
.btn-yellow:active {
    background: #d79327;
}

.btn-yellow:disabled {
    background: #666666;
    color: #AAAAAA;
}

.heading {
    background-image: url(../images/header_bg.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

    display: block;
    width: 100%;
    height: 707px;
    z-index: 1;
}
.heading__fade {
    width: 100%;
    height: 100%;
    z-index: 9;
    opacity: 0.5;
    position: absolute;
    margin: 0;
    padding: 0;
    background-color: #000000;
}
.heading__wrapper {
    width: 1256px;
    margin: 0 auto;
}
.heading__frame {
    position: absolute;
    margin: 180px 0 auto 42px;
    z-index: 99;
}
.heading__frame * {
    opacity: 1;
}
.heading__title {
    font-family: 'Yeseva One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;

    width: 670px;
    margin-bottom: 19px;
}
.heading__title span {
    font-family: 'Yeseva One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #E3B873;
}
.hlp__yellow_color {}
.heading__subtitle {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;

    width: 504px;
    margin-bottom: 40px;
}
.heading__button-group {
    display: flex;
}
.heading__button {

    border: 1px solid #FFFFFF;
    border-radius: 2px;

    font-family: 'Nunito Sans', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
    background: transparent;

    margin: 0 10px;
    padding: 19px 40px;

    cursor: pointer;
}
.heading__button:hover {
    background: #E3B873;
    color: #FFFFFF;
}
.heading__button:disabled {
    background: #AAAAAA;
    color: #000000;
}
.heading__button_yellow {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    border-radius: 2px;
    color: #FFFFFF;
}
.heading__button_yellow:hover {
    background: transparent;
    color: #FFFFFF;
}
.heading__button_yellow:disabled {
    background: #AAAAAA;
    color: #000000;
}





